		body 
		h1 
			{font-family: 'Kaushan Script', cursive;}
		p 
			{font-family: 'Lato', sans-serif;}
		#my-header 
			{color: #000080;}
		#my-header
			{text-align: center;}
		p 
			{margin-left: 150px}
		p
			{margin-right: 150px}
		#title 
			{margin-left: 150px}
		#title
			{margin-right: 150px}
		#title
			{color: #CD853F}
		#title 
			{font-size: 22px;}
		#my-list-item 
			{margin-left: 150px}
		#my-list-item
			{margin-right: 150px}
		#my-list-item 
			{font-size: 22px;}
		#my-list-item 
			{color: #00b38f;}
		#my-header 
			{margin-top: 25px}