		body 
		h1 
			{font-family: 'Kaushan Script', cursive;}
		p 
			{font-family: 'Lato', sans-serif;}
		li 
			{font-family: 'Lato', sans-serif;}
		a
			{font-family: 'Lato', sans-serif;}
		#my-header 
			{text-align: center;
			margin-top: 25px;
			color: #000080}
		#my-header
			a {color: #000080}
		.my-list-item
			{text-align: center;
			font-size: 22px;
			margin-left: 150px;
			margin-right: 150px}
		.my-list-item 
			a {color: #00b38f;}
		.my-list-item 
			a:hover {color: #CD853F}
		.my-list-item2 
			{font-size: 22px;
			margin-left: 150px;
			margin-right: 150px; 
			color: #00b38f;}
		.title 
			{font-size: 22px;
			margin-left: 150px;
			margin-right: 150px;
			color: #CD853F}
		#jellyfish 
			{margin-top: 25px}
		p 
			{margin-left: 150px;
			margin-right: 150px}
		.title
			a {color: #CD853F}
		img
			{padding: 10px;
			display: inline-block;}
		#classes {display: flex;}
		#class0_4 {display: flex;
			flex-direction: column;}
		#class5_9 {display: flex;
			flex-direction: column;}
		#class10_14 {display: flex;
			flex-direction: column;}