			#content {display: flex;
				flex-direction: column;
				align-items: center;}

			.navigation {display: flex;
				justify-content: space-between;
				width: 100%}

			.container {display: flex;
				flex-direction: row}

			.column1 {display: flex;
				flex-wrap: wrap;}

			.column2 {display: flex;
				flex-wrap: wrap;}

			.column3 {display: flex;
				flex-wrap: wrap;}

			.Article1 {display: flex;}

			.Article2 {display: flex;}

			.Article2-2 {display: flex;
				flex-direction: column;}

			@media (max-width: 300px) {
				.column3 {order: 1;}
			}

			@media (max-width: 300px){
				#Subscribe {display: none;}
				#theBostonGlobe {display: none;}
				#Navigation {display: none;}
			}

			#Subscribe {width: 500px; height: 30px; background-color: #d7df23; margin: 10px}

			#Menu {width: 75px; height: 50px; background-color: #8dc63f; margin: 10px}
			
			#theBostonGlobe {width: 300px; height: 50px; background-color: #39b54a; margin: 10px}
			
			#SignIn {width: 200px; height: 50px; background-color: #009444; margin: 10px}
			
			#Navigation {width: 750px; height: 20px; background-color: #006838; margin: 10px; align-content: center;}

			#Title1 {width: 475px; height: 150px; background-color: #8853a1; margin: 10px}
			
			#Image1 {width: 150px; height: 150px; background-color: #ee2c24; margin: 10px}
			
			#Article1 {width: 300px; height: 150px; background-color: #f26533; margin: 10px}
			
			#Image2 {width: 150px; height: 200px; background-color: #f68842; margin: 10px}
			
			#Title2 {width: 300px; height: 50px; background-color: #8c288f; margin: 10px}
			
			#Subtitle2 {width: 300px; height: 150px; background-color: #b4241d; margin: 10px}
			
			#Title3 {width: 350px; height: 50px; background-color: #6f2b78; margin: 10px}
			
			#Article3 {width: 475px; height: 150px; background-color: #c11f3e; margin: 10px}
			
			#Image3 {width: 100px; height: 100px; background-color: #da6738; margin: 10px}
			
			#ArticleLink1 {width: 150px; height: 50px; background-color: #5fc9f3; margin: 10px}
			
			#Title4 {width: 200px; height: 150px; background-color: #542d5d; margin: 10px}
			
			#Article4 {width: 200px; height: 100px; background-color: #822925; margin: 10px}
			
			#Article5 {width: 200px; height: 100px; background-color: #980f13; margin: 10px}
			
			#Article6 {width: 200px; height: 150px; background-color: #ee294b; margin: 10px}
			
			#Image6 {width: 75px; height: 75px; background-color: #ee874d; margin: 10px}
			
			#ArticleLink2 {width: 100px; height: 50px; background-color: #00a8ea; margin: 10px}
			
			#Article7 {width: 350px; height: 200px; background-color: #cb2f1d; margin: 10px}
			
			#Image7 {width: 100px; height: 100px; background-color: #f58320; margin: 10px}
			
			#ArticleLink3 {width: 125px; height: 50px; background-color: #3a55a6; margin: 10px}
			
			#Article8 {width: 350px; height: 150px; background-color: #a43937; margin: 10px}
			
			#Image8 {width: 100px; height: 100px; background-color: #f9a340; margin: 10px}
			
			#ArticleLink4 {width: 125px; height: 50px; background-color: #2d3a96; margin: 10px}
			
			#Article9 {width: 350px; height: 150px; background-color: #a51f44; margin: 10px}
			
			#Image9 {width: 100px; height: 100px; background-color: #f06022; margin: 10px}
			
			#ArticleLink5 {width: 125px; height: 50px; background-color: #556cb3; margin: 10px}
			
			#ArticleLink6 {width: 125px; height: 50px; background-color: #20597f; margin: 10px}
			
			#ArticleLink7 {width: 125px; height: 50px; background-color: #0086b2; margin: 10px}
			
			#ArticleLink8 {width: 125px; height: 50px; background-color: #003f6e; margin: 10px}