body {width: 80%;
	margin: auto;
	background: #F4F4F4;
	padding-top: 120px;
	font-family: 'Source Sans Pro', sans-serif;}

header {width: 80%;
	height: 100px;
	position: fixed;
	top: 0;
	background: #560e66;
	color: #F4F4F4;
	transition: top 250ms}

header.hidden {top: -100px;}

footer {background: #232329;
	color: #F4F4F4;
	text-align: right;
	font-size: 8px;
	bottom: 0;
	height:35px;
	padding: 13px 20px 0 0 }

ul {display: flex;
	justify-content: space-between;
	height: 100%}

ul li {width: 25%;
	text-align: center;
	font-size: 16px;
	height: 100%}

ul li a {padding: 10px;
	color: #F4F4F4;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;}

ul.home li.home-nav {border-bottom: 8px solid #F4F4F4;}

ul.new-nav li.new-nav {border-bottom: 8px solid #F4F4F4;}

ul.suggested li.suggested-nav {border-bottom: 8px solid #F4F4F4;}

ul.viewed-nav li.viewed-nav {border-bottom: 8px solid #F4F4F4;}

.new-nav {line-height: 78px;}

.suggested-nav {line-height: 78px;}

.viewed-nav {line-height: 78px;}


#logo {width: 70px;}