body {width: 80%;
	margin: auto;
	background: #F4F4F4;
	padding-top: 120px;
	font-family: 'Source Sans Pro', sans-serif;}

header {margin-top: 15px;
	width: 80%;
	height: 100px;
	position: fixed;
	top: 0;
	background: #560e66;
	color: #F4F4F4;
	transition: top 250ms}

header.hidden {top: -115px;}

footer {background: #232329;
	color: #F4F4F4;
	text-align: right;
	font-size: 8px;
	bottom: 0;
	height:35px;
	padding: 13px 20px 0 0 }

ul {display: flex;
	justify-content: space-between;
	height: 100%}

ul li {width: 25%;
	text-align: center;
	font-size: 16px;
	height: 100%}

ul li a {padding: 10px;
	color: #F4F4F4;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;}

ul.home li.home-nav {border-bottom: 8px solid #F4F4F4;}

ul.new-nav li.new-nav {border-bottom: 8px solid #F4F4F4;}

ul.suggested li.suggested-nav {border-bottom: 8px solid #F4F4F4;}

ul.viewed-nav li.viewed-nav {border-bottom: 8px solid #F4F4F4;}

.new-nav {line-height: 78px;}

.suggested-nav {line-height: 78px;}

.viewed-nav {line-height: 78px;}

#logo {width: 70px;}

#home-content {margin-top: 10px;
	display: flex;}

#home-viewed {background: #9B9B9B;
	width: 40%;
	height: 575px;
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 15px;
	text-align: center;}

#home-viewed ul {display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 10px;
	overflow: auto;
	height: 500px;}
	
#home-viewed img {width: 100%;
	border: 1px solid #232329}

.home-right {background: #9B9B9B;
	height: 292.5px;
	padding: 15px;}

#home-right {width: 60%;
	display: flex;
	flex-direction: column;}

#home-suggested {margin-bottom: 15px;
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-gap: 10px;
	overflow: auto;
	height: 280px;}

#home-suggested img {width: 100%;
	border: 1px solid #232329}

#home-suggested h1 {grid-column-end: span 6;}

#home-new {display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-gap: 10px;
	overflow: auto;
	height: 280px;}

#home-new h1 {grid-column-end: span 6;}

#home-new img {width: 100%;
	border: 1px solid #232329}

h1 {font-size: 20px;
	color: #560e66;
	margin: 0;
	margin-bottom: 10px;}

ul {font-size: 20px;
	color: #560e66;
	margin: 0;
	margin-bottom: 10px;}

#new {width: 100%;
	height: 575px;
	background: #9B9B9B;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;}

#viewed {width: 100%;
	height: 575px;
	background: #9B9B9B;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;}

#suggested {display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;}
	
.suggested-movies {background: #9B9B9B;
	width: 100%;
	padding: 15px;}

#suggested-viewed {height: 200px;
	overflow: auto;}

#suggested-viewed ul {display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	grid-gap: 10px;
	overflow: auto;
	height: 525px;}
	
#suggested-viewed img {width: 100%;
	border: 1px solid #232329}

#suggested-try {height: 375px;
	display: grid;
	grid-template-columns: 13.25% 13.25% 13.25% 13.25% 13.25% 13.25% 13.25%;
	grid-gap: 10px;
	overflow: auto;}

#suggested-try img {width: 100%;
	border: 1px solid #232329}

#suggested-try h1 {grid-column-end: span 7;}

::-webkit-scrollbar {display: none;}

.one-box ul {display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	grid-gap: 10px;
	overflow: auto;
	height: 500px;}
	
.one-box img {width: 100%;
	border: 1px solid #232329}

/*Tablet Version*/
@media screen and (max-width: 700px){
	body {width: 80%}
	#home-content {display: inline;
		margin-top: 10px;}
	#home-viewed {width: 100%;
		height: 340px;
		text-align: left;}
	#home-right {width: 100%;}
	#home-viewed ul {grid-template-columns: 18% 18% 18% 18% 18%;
		height: 275px;
		}
	#home-suggested {grid-template-columns: 18% 18% 18% 18% 18%;
		height: 200px;}
	#home-new {grid-template-columns: 18% 18% 18% 18% 18%;
		margin-bottom: 10px;
		height: 200px;}
	ul li {font-size: 14px;}
	.one-box ul {grid-template-columns: 18% 18% 18% 18% 18%;}
	#suggested-viewed ul {grid-template-columns: 18% 18% 18% 18% 18%;}
	#suggested-try {grid-template-columns: 18% 18% 18% 18% 18%;}
	#movie-media {width: 50%;}
	#movie-right {font-size: 14px;
		width: 50%;}
	#movie-info {width: 100%}
	#suggested-try h1 {grid-column-end: span 5;}
	#home-suggested h1 {grid-column-end: span 5;}
	#home-new h1 {grid-column-end: span 5;}
	header {height: 60px;}
	header.hidden {top: -75px;}
	#logo {width: 30px;}
	.new-nav {line-height: 40px;}
	.suggested-nav {line-height: 40px;}
	.viewed-nav {line-height: 40px;}
	body {padding-top: 80px;}
}

/*Mobile Version*/
@media screen and (max-width: 500px){
	body {width: 80%}
	#home-content {display: inline;}
	#home-viewed {width: 100%;
		height: 305px;
		text-align: left;}
	#home-right {width: 100%;}
	#home-viewed ul {grid-template-columns: 22% 22% 22% 22%;
		height: 250px;}
	#home-suggested {grid-template-columns: 22% 22% 22% 22%;
		height: 190px;}
	#home-new {grid-template-columns: 22% 22% 22% 22%;
		margin-bottom: 10px;
		height: 190px;}
	ul li {font-size: 10px;}
	.one-box ul {grid-template-columns: 22% 22% 22% 22%;}
	#suggested-viewed ul {grid-template-columns: 22% 22% 22% 22%;}
	#suggested-try {grid-template-columns: 22% 22% 22% 22%;}
	#movie-content {display: inline;}
	#movie-media {width: 100%;}
	#movie-right {font-size: 12px;
		width: 100%;}
	#movie-info {width: 100%}
	#suggested-try h1 {grid-column-end: span 4;}
	#home-suggested h1 {grid-column-end: span 4;}
	#home-new h1 {grid-column-end: span 4;}
	header {height: 60px;}
	header.hidden {top: -75px;}
	#logo {width: 30px;}
	.new-nav {line-height: 40px;}
	.suggested-nav {line-height: 40px;}
	.viewed-nav {line-height: 40px;}
	body {padding-top: 80px;}
}

#ratings {line-height: 50px;}
	body {margin-left: 50px}

#average-stars {position: relative;
	width: 84px;
	height: 15px;}

#no-stars, #all-stars {position: absolute;
	left: 0;
	top: 0;}

#all-stars {overflow: hidden;
	transition: width 500ms;
	width: 0%;}

#movie-content {margin-top: 10px;
	margin-bottom: 10px;
	display: flex;}

#movie-media {width: 35%;
	margin-right: 15px;
	height: 600px;
	background: #9B9B9B;
	padding: 15px;
	text-align: center;}

#movie-info {background: #9B9B9B;
	padding: 15px;
	overflow: auto;}

#movie-right {display: inline;
	width: 65%;
	height: 600px;
	background: #9B9B9B;
	padding: 15px;
	overflow: auto;}

.movie-right {width: 100%;}

#movie-comment-rating {margin-left: 15px;}

#movie-media img {width: 87%;
	margin-bottom: 10px;
	border: 1px solid #232329}

#movie-media iframe {height: 150px;
	width: 87%;}