body {width: 80%;
	margin: auto;
	background: #F4F4F4;
	padding-top: 120px;
	font-family: 'Source Sans Pro', sans-serif;}

header {margin-top: 15px;
	width: 80%;
	height: 100px;
	position: fixed;
	top: 0;
	background: #560e66;
	color: #F4F4F4;
	transition: top 250ms}

header.hidden {top: -115px;}

footer {background: #232329;
	color: #F4F4F4;
	text-align: right;
	font-size: 8px;
	bottom: 0;
	height:35px;
	padding: 13px 20px 0 0 }

ul {display: flex;
	justify-content: space-between;
	height: 100%}

ul li {width: 25%;
	text-align: center;
	font-size: 16px;
	height: 100%}

ul li a {padding: 10px;
	color: #F4F4F4;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;}

ul.home li.home-nav {border-bottom: 8px solid #F4F4F4;}

ul.new-nav li.new-nav {border-bottom: 8px solid #F4F4F4;}

ul.suggested li.suggested-nav {border-bottom: 8px solid #F4F4F4;}

ul.viewed-nav li.viewed-nav {border-bottom: 8px solid #F4F4F4;}

.new-nav {line-height: 78px;}

.suggested-nav {line-height: 78px;}

.viewed-nav {line-height: 78px;}

#logo {width: 70px;}

#home-content {margin-top: 10px;
	display: flex;}

#home-viewed {background: #9B9B9B;
	width: 40%;
	height: 600px;
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 15px;
	text-align: center;}

.home-right {background: #9B9B9B;
	height: 292.5px;
	padding: 15px;}

#home-right {width: 60%;
	display: flex;
	flex-direction: column;}

#home-suggested {margin-bottom: 15px;}

h1 {font-size: 20px;
	color: #560e66;
	margin: 0;
	margin-bottom: 10px;
	-webkit-column-span: all;
	column-span: all;}

#home-viewed a {display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 10px;
	overflow: auto;
	height: 525px;}
	
#home-viewed img {width: 100%;
	border: 1px solid #232329}

#home-suggested {display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-gap: 10px;
	overflow: auto;
	height: 280px;}

#home-suggested img {width: 100%;
	border: 1px solid #232329}

#home-new {display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	grid-gap: 10px;
	overflow: auto;
	height: 280px;}

#home-new img {width: 100%;
	border: 1px solid #232329}

#new {width: 100%;
	height: 600px;
	background: #9B9B9B;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;}

#viewed {width: 100%;
	height: 600px;
	background: #9B9B9B;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;}

#suggested {display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;}
	
.suggested-movies {background: #9B9B9B;
	width: 100%}

#suggested-viewed {height: 200px;}

#suggested-try {height: 400px;}

.suggested-movies {padding: 15px;}

::-webkit-scrollbar {display: none;}

.one-box ul {display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	grid-gap: 10px;
	overflow: auto;
	height: 525px;}
	
.one-box img {width: 100%;
	border: 1px solid #232329}

#suggested-viewed ul {display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	grid-gap: 10px;
	overflow: auto;
	height: 525px;}
	
#suggested-viewed img {width: 100%;
	border: 1px solid #232329}

#suggested-try {display: grid;
	grid-template-columns: 12% 12% 12% 12% 12% 12% 12%;
	grid-gap: 10px;
	overflow: auto;
	height: 525px;}
	
#suggested-try img {width: 100%;
	border: 1px solid #232329}

#movie-content {margin-top: 10px;
	margin-bottom: 10px;
	display: flex;}

#movie-media {width: 35%;
	margin-right: 15px;
	height: 600px;
	background: #9B9B9B;
	padding: 15px;}

#movie-info {width: 65%;
	height: 600px;
	background: #9B9B9B;
	padding: 15px;}

/*Tablet Version*/
@media screen and (max-width: 700px;){
	body {width: 80%;}
	#home-content {display: inline;}
	#home-viewed {width: 100%;}
	#home-right {width: 100%;}
	#home-viewed a {grid-template-columns: 20% 20% 20% 20% 20%;}
	#home-suggested {grid-template-columns: 20% 20% 20% 20% 20%;}
	#home-new {grid-template-columns: 20% 20% 20% 20% 20%;}
}

/*Mobile Version*/
@media screen and (max-width: 500px;){
	#content {flex-direction: row;}
}